a
    color: #ffffff

.ml-16
    margin-left: 16px

.mt-16
    margin-top: 16px

.fl
    float: left

.fr 
    float: right

.txt-small
    font-size: 0.75rem

.txt-emph
    font-weight: 800

.txt-white
    color #fff