a
    color: #ffffff

.mt-0
    margin-top 0

.mt-1
    margin-top: 1rem

.mt-2
    margin-top: 2rem

.mt-16
    margin-top: 16px

.mb-0
    margin-bottom 0

.link
    font-weight: 800
    cursor pointer

.ml-0
    margin-left: 0

.ml-1
    margin-left: 1rem

.ml-2
    margin-left: 2rem

.ml-16
    margin-left: 16px

.mb-1
    margin-bottom: 1rem

.mr-2
    margin-right: 2rem

.p-05
    padding 0.5rem !important

.p-1 
    padding 1rem !important

.pt-05
    padding-top 0.5rem

.pt-0
    padding-top 0 !important

.pt-1
    padding-top 1rem

.pl-0
    padding-left 0 !important

.pr-2rem
    padding-right: 2rem

.pl-2rem
    padding-left 2rem

.fl
    float: left

.fr 
    float: right

.txt-small
    font-size: 0.75rem

.txt-emph
    font-weight: 800

.emoji-medium
    font-size: 1.5rem

.txt-white
    color #fff

.header-margin
    margin-top: 4rem !important

.fill-width
    width: 100% 

.txt-center
    text-align: center !important

.center 
    margin auto

.txt-input
    background-color: #000000
    color: #fff
    border 2px dotted
    border-radius: 4px
    padding: 0.5rem

.el-dialog
    background-color #000 !important 
    border 1px solid 
    color: #ffffff
    max-width: 756px
    width: 100% !important
    

.btn-no-border
  background-color: #000
  padding: 8px
  border 0
  cursor pointer

.btn-dash
  background-color: #000
  padding: 8px
  border 0
  cursor pointer
  border 1px dashed

.btn 
  background-color: #000
  border-color: #ffffff
  padding: 8px
  border-radius 8px
  cursor pointer